div#container {
    display: flex;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div{
    text-align: center;
    margin: 2em;
}
#dice img {
    transition: all 0.3s ease-in-out; /* Käytetään CSS Transitionia kaikille ominaisuuksille 0.3 sekunnin kestolla */
}
